<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.
<h3>Objectives:</h3>

<ul>
    <li>List of languages that Data Scientists use</li>
    <li>List commonly used libraries used by Data Scientists.</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>RStudio</li>
    <li>Python</li>
    <li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Tensor Flow</li>
    <li>NumPy</li>
    <li>SciPy</li>
</ol>

 <table>
    <tr>
      <th>Data Science Tools</th>
    </tr>
      <tr>
        <td>SAS. It is one of those data science tools which are specifically designed for statistical operation</td>
      </tr>
      <tr>
        <td>Apache Spark</td>
      </tr>
      <tr>
        <td>BigML</td>
    </table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Musab Umair